
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('../../res/images/cebu3.jpg'); /* Corrected path */
  font-family: 'Roboto';
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.h2{
  font-family: 'Travel';
}
.contentcontainer {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 40px;
  text-align: center;
}

.logocontainer {
  margin-bottom: 20px;
}

.logoimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.forgot-password-form {
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.form-group label i {
  margin-right: 8px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
}

.btn-reset {
  background-color: #ff5733;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #ffa07a;
}

.message {
  color: green;
}
