/* src/components/TopBar.css */
.top-bar {
  position: fixed;
  top: 0;
  left: 100px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: calc(100% - 100px);
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.top-bar-right {
  display: flex;
  align-items: center;
}

.notification-icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px;
}

.divider {
  height: 24px;
  width: 1px;
  background-color: #ccc;
  margin-right: 20px;
  font-weight: 900;
}

.profile-icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px;
}

.user-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.username {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 750;
}

.dropdown-icon {
  font-size: 16px;
  font-weight: bold;
}
