   .main-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #473535;
  }
  
  .content-container1 {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  
  .left-container1 {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  
  .logo-img {
    width: 150px;
    height: auto;
  }
  
  .landing-content {
    animation: fadeIn 2s ease-in-out;
    
  }
  
  .image-gallery {
    margin-top: 20px;
  }
  
  .island-image {
    margin: 10px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .island-image:hover {
    transform: scale(1.05);
  }
  
  .btn-primary {
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #004bb5;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  