.custom-icon-container {
    background-color: transparent; /* Ensure no default background */
    border: transparent;
  }
  
  .custom-icon {
    fill: #336488; /* Change to the desired color */
  }